*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-header: #ff6900;
    --text-white: #FFFFFF;
    --red: #ff0000;
    --green: #008000;
    --black: #000000;
    --bg-footer: #1a1a1a;
}

